@model ForgotPasswordViewModel

@{
    ViewData["Title"] = "Şifre Sıfırlama";
}
@if (ViewData.ModelState.ErrorCount > 0)
{
    <div class="alert alert-danger">
        @foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
        {
            <p>@error.ErrorMessage</p>
        }
    </div>
}

<h2>@ViewData["Title"]</h2>

<p>Lütfen şifrenizi sıfırlamak için kayıtlı e-posta adresinizi girin. Size sıfırlama bağlantısı gönderilecektir.</p>


<form asp-action="ForgotPassword" method="post">
    <div asp-validation-summary="All"></div>
    <label>Email</label>
    <input asp-for="Email" />
    <button type="submit"  class="btn btn-primary">Şifre Sıfırlama Linki Gönder</button>
</form>
