@{
    ViewData["Title"] = "Şifre Sıfırlama Talebi Alındı";
}

<h2>@ViewData["Title"]</h2>
<p>
    Eğer bu e-posta adresi sistemimizde kayıtlıysa, şifre sıfırlama bağlantısı e-posta adresinize gönderildi.
</p>
<p>
    Lütfen e-posta kutunuzu (ve spam klasörünü) kontrol edin.
</p>

<a asp-controller="Account" asp-action="Login" class="btn btn-success">Giriş Sayfasına Dön</a>