@model RegisterViewModel

<div class="center-screen">
    <div class="form-container">
        <h2 class="text-center mb-4">Kayıt Ol</h2>
        <form asp-action="Register" method="post" style="max-width: 400px; margin: 0 auto;" autocomplete="off">
            
            <div class="mb-3 text-start">
                <label asp-for="Email" class="form-label"></label>
                <input asp-for="Email" class="form-control" autocomplete="new-email"/>
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            
            <div class="mb-3 text-start">
                <label asp-for="Password" class="form-label"></label>
                <input asp-for="Password" type="password" class="form-control" autocomplete="new-password"/>
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            
            <div class="mb-3 text-start">
                <label asp-for="ConfirmPassword" class="form-label"></label>
                <input asp-for="ConfirmPassword" type="password" class="form-control" autocomplete="new-password" />
                <span asp-validation-for="ConfirmPassword"  class="text-danger"></span>
            </div>
            
            <div class="d-flex justify-content-center gap-2">
                <button type="submit" class="btn btn-primary">Kayıt Ol</button>
                <a asp-controller="Account" asp-action="Login" class="btn btn-success">Giriş Yap</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}