@model TodoMVC.Models.ResetPasswordViewModel
@{
    ViewData["Title"] = "Şifre Sıfırlama";
}
@if (ViewData.ModelState.ErrorCount > 0)
{
    <div class="alert alert-danger">
        @foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
        {
            <p>@error.ErrorMessage</p>
        }
    </div>
}

<div class="container mt-5" style="max-width: 400px;">
    <h2 class="text-center mb-4">@ViewData["Title"]</h2>

    <form asp-action="ResetPassword" method="post" autocomplete="off">
        <input type="hidden" asp-for="Token" />

        <div class="mb-3">
            <label asp-for="Email" class="form-label">Email</label>
            <input asp-for="Email" class="form-control" autocomplete="new-email" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="Password" class="form-label">Yeni Şifre</label>
            <input asp-for="Password" type="password" class="form-control" autocomplete="new-password" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="ConfirmPassword" class="form-label">Şifreyi Tekrar</label>
            <input asp-for="ConfirmPassword" type="password" class="form-control" autocomplete="new-password" />
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        </div>

        <div class="d-grid gap-2">
            <button type="submit" class="btn btn-primary">Şifreyi Sıfırla</button>
        </div>
        
    </form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}